body {
  margin: 0;
  background-color: #f9f7d9;
  font-family: 'Grandstander', cursive;
  line-height: 30px;
}
img {
  width: 100%;
}
.bold {
  font-weight: bold;
}
.content {
  margin: 0 20%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

h1, h2 {
  text-align: center;
}
/* Top content */
.p-pic {
  flex-basis: 40%;
}

.description {
  flex-basis: 57%;
  margin-left: 3%;
  align-self: center;
}

/* Mid content */
.my-list {
  flex-basis: 50%;
}

.beside-list {
  flex-basis: 47%;
  margin-left: 3%;
  align-self: center;
}
/* Bottom Content */
.column{
  flex-basis: 25%;
  padding: 0 4px;
  box-sizing: border-box;
}

/* Footer */
.footer {
  background-color: #ffc1f3;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
}

.button {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 0 10px;
}
/* Images */
.top-image {
  background-image: url(images/top.PNG);
}

.mid-image {
  background-image: url(images/mde.jfif);
}

.btm-image {
  background-image: url(images/btm.jfif);
}

.section-divider {
  height: 500px;
  background-size: cover;
  background-position: 0% 70%;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.black-text {
  background-color: black;
  color: aquamarine;
  font-size: 32px;
  padding: 15px;
  letter-spacing: 10px;
}

/* Media Query */
/* Tablets */
@media (max-width: 800px) {
  /* Top Content */
  .p-pic {
    flex: 100%;
  }
  
  .description {
    flex: 100%;
  }
  
  /* Mid content */
  .my-list {
    flex: 100%;
  }
  
  .beside-list {
    flex: 100%;
  }
  /* Bottom Content */
  .column {
    flex: 50%;
    /* padding: 0 4px; */
    /* box-sizing: border-box; */
  }
}

@media (max-width: 600px) {
  .column{
    flex: 100%;
    
  }
}